[submodule "classes/showdown"]
	path = classes/showdown
	url = https://github.com/herp-a-derp/Showdown.as.git
[submodule "build-dep"]
	path = build-dep
	url = https://github.com/brrritssocold/CoC-build-dependencies.git
